 .main-contact {
    height: 105vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
  }

 .main-bg {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
  } 

  .main-bg::after {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(155, 145, 145, 0.3), rgba(184, 161, 158, 0.5) ), url('images/contact.png?v=1.0');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: -1;
  }

  .icon {
    display: flex;
    gap: 2vw;
    margin: 1em 0;
  }

  .icon div span:nth-of-type(1) {
    color:  #FFF8F6;
  }

  .icon div span:nth-of-type(2) {
    color:  #381F1D;
  }

  .main-bg img {
    width: 100%;
    height: 100%;
  }
 
 .form-section h1 {
    text-align: center;
    font-weight: 500;
    color: #381F1D;
 }

 .form-section {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .form {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    gap: clamp(0.8rem, 1vw, 2rem); 
  }
  
  .input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #000;
    border-radius: 5px;
    padding: 0.5em 0 1.4em 0.2em;
    border: 1px solid rgba(105, 105, 105, 0.397);
}
  
  .message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 2vw;
  }
  
  .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
  }
  
  .form label {
    position: relative;
    width: 100%;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:focus + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .input01 {
    width: 100%;
    padding: 0.5em 0 1.4em 0.2em;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 70px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:focus + span {
    top: 82px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .fancy {
    width: 40%;
    align-self: center;
    background-color: transparent;
    border: 2px solid #cacaca;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 390;
    letter-spacing: 2px;
    padding: 0.5em;
    position: relative;
    display: block;
    margin-right: -0.5em;
    }
  
  .fancy .text {
    font-size: 1.25em;
    transition: all 0.3s ease-in-out;
    color: #818181;
    transform: translateX(30%);

  }
  
  .fancy .top-key {
    height: 2px;
    width: 2em;
    top: -2px;
    left: 1em;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
    color: white;
    background: #cacaca;
  }
  
  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

  @media (max-width:  768px){
    .main-contact {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 60px;
    }

    .main-bg {
      width: 100%;
      height: 30%;
      font-size: 1em;
    }

    .form {
      gap: 3vw;
    }
    .form-section {
      height: 70%;
      width: 100%;
    }

    .main-bg::after {
      background-position: 30% 30%;
    }
    
  }
  

  
  


  




  

  